

.position{

    margin-left: 100px;
    margin-top: 30px;
    padding: 4px;
}

.task{
    border-bottom: 2px  solid rgb(10, 10, 10);
   position: relative;
   padding-left: 3px;
   padding-top: -13px;
    width: 50%;
  
}

.notes{
    border: 2px  solid rgb(38, 57, 230);
    margin: 2px;
    width: 50%;
  
    border-radius: 4px;
}

.board{
    border: 2px  solid rgb(38, 57, 230);
    width:80%;
    padding: 4px;
}


.pointer{
   cursor: pointer
  }


  

  /* .colortext {

    color: white
   }

   input:hover {
    color: rgb(0, 0, 0);
  } */