

.position{

    margin-left: 100px;
    margin-top: 30px
}

.task{
    border-bottom: 2px  solid rgb(10, 10, 10);
   position: relative;
   padding-left: 3px;
   padding-top: -13px;
    width: 50%;
  
}

.notes{
    border: 2px  solid rgb(38, 57, 230);
    margin: 2px;
    width: 50%;
  
    border-radius: 4px;
}

.board{
    border: 2px  solid rgb(38, 57, 230);
    width:80%;
}


.pointer{
   cursor: pointer
  }